<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Adm-Usuário</title> <!-- Colocar o Titulo-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fa-icons/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/basico.css"></head>

<body ng-app="GuiaApp" ng-controller="BuscaUsuarioCtrl" style="height: 100%;">   

    <div ng-include="'page/includes/nav-bar-adm.html'"></div>
    <div ng-include="'page/includes/alerta.html'" class="snack-container-basico"></div>

    <div class="container-fluid" style="height: 92.1%;">
        <div class="row" style="height: 100%;">
            <div class="col-sm-2 sem-padding" style="background:#292929; height: 100%;">
                <div ng-include="'page/includes/side-bar-adm.html'" ></div>
            </div>    
            <div class="col-sm-10" style="height: 100%; overflow-y: scroll;">                 
                <div class="row">
                    <div class="col-md-12">   
                        <div class="row">
                            <div class="col-sm-3">      
                                <h3>Buscar Usuário</h3>
                            </div>
                        </div>               
                        <hr>    
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>E-mail</label>
                                <input type="text" class="form-control input-sm" ng-model="usuarioBusca.email">
                            </div>
                        </div>
                        <button class="btn btn-laranja" ng-click="cadastrar()">Cadastrar</button>                        
                        <button class="btn btn-laranja" ng-click="buscarUsuario(1)">Buscar</button>                         
                    </div>
                </div>
                <h3>Listagem Usuário</h3>
                <hr>                    
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">ID</th>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th style="text-align: center;">Tipo Perfil</th>
                                    <th style="width: 40%;">Endereço</th>
                                    <th style="text-align: center;">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="usuarioAux in usuarios">
                                    <td style="text-align: center;">{{usuarioAux.id}}</td>
                                    <td>{{usuarioAux.perfil.nome + ' ' + usuarioAux.perfil.sobrenome}}</td>
                                    <td style="text-align: center;">{{usuarioAux.email}}</td>
                                    <td style="text-align: center;">{{usuarioAux.perfil.tipoperfil.descricao}}</td> 
                                    <td style="text-align: center;">{{usuarioAux.perfil.endereco.logradouro + ' - ' + usuarioAux.perfil.endereco.numero + ' ' + usuarioAux.perfil.endereco.bairro + ' ' + usuarioAux.perfil.endereco.cidade + '-' + usuarioAux.perfil.endereco.uf}}</td>                             
                                    <td style="text-align: center;">
                                        <span ng-click="excluir(permissaoAux)"><i class="fa fa-trash"></i></span>
                                        <span ng-click="paraAlterar(permissaoAux)"style="margin-left: 5px;"><i class="fa fa-pencil-square-o"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div>Pagina(s): {{resultadoBusca.paginas}}</div>
                </div>                 
                <div class="row" ng-if="resultadoBusca.paginas > 0">
                    <div class="col-sm-12">
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"  ng-disabled="resultadoBusca.pagina == 1" ng-click="buscarUsuario(resultadoBusca.pagina - 1)"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default">{{resultadoBusca.pagina}}</button>
                            <button type="button" class="btn btn-default" ng-disabled="resultadoBusca.pagina >= resultadoBusca.paginas" ng-click="buscarUsuario(resultadoBusca.pagina + 1)"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/ng-mask.js"></script>
    <script src="scripts/ng-app.js"></script>
    <script src="scripts/utilitarios.js"></script>
    <script src="scripts/services/http-service.js"></script>
    <script src="scripts/includes/ng-includes-ctrl.js"></script>
    <script src="scripts/buscas/ng-busca-usuario.js"></script>

</body>
</html>



       
