<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Adm-TipoPerfil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fa-icons/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/basico.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
</head>
<body ng-app="GuiaApp" ng-controller="BuscaTipoPerfilCtrl">   

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: #DA482B;" ng-include="'page/includes/nav-bar-adm.html'"></nav>
    <div ng-include="'page/includes/alerta.html'" class="snack-container-basico"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidebar" style="background:#292929;" ng-include="'page/includes/side-bar-adm.html'"></div>  
            <div class="col-sm-10 col-sm-offset-2 main">  
                <div class="row">
                    <div class="col-md-12">                        
                        <h3>Buscar Tipo Perfil</h3>
                        <hr>
                        <div class="form">                    
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Sigla</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>                         
                            </div>
                            <button class="btn btn-laranja">Buscar</button>
                            <button class="btn btn-laranja" ng-click="cadastrar()">Cadastrar</button>
                        </div>  
                    </div>
                </div>
                <h3>Listagem Tipo Perfil</h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered" style="margin: 10px 0px; min-height: 300px;">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">ID</th>
                                    <th style="width: 70%;">Descrição</th>
                                    <th style="text-align: center;">Sigla</th>
                                    <th style="text-align: center;">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tipoperfilAux in tiposperfil">
                                    <td style="text-align: center;">{{tipoperfilAux.id}}</td>
                                    <td>{{tipoperfilAux.descricao}}</td>
                                    <td style="text-align: center;">{{tipoperfilAux.sigla}}</td>                            
                                    <td style="text-align: center;">
                                        <span ng-click="excluir(tipoperfilAux)"><i class="fa fa-trash"></i></span>
                                        <span ng-click="paraAlterar(tipoperfilAux)"style="margin-left: 5px;"><i class="fa fa-pencil-square-o"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                            
            </div>
        </div>    
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/ng-mask.js"></script>
    <script src="scripts/ng-app.js"></script>
    <script src="scripts/utilitarios.js"></script>
    <script src="scripts/services/http-service.js"></script>
    <script src="scripts/ng-container-ctrl.js"></script>
    <script src="scripts/buscas/ng-busca-tipoperfil.js"></script>
    <script src="scripts/includes/ng-includes-ctrl.js"></script>

</body>
</html>