<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Minha Pagina</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fa-icons/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/basico.css">
</head>
<body ng-app="GuiaApp" ng-controller="CadastroEnderecoCtrl">    
    <h1 style="text-align: center;">Cadastro de Endereço</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: left">Dados do Endereço</h3>
                <hr>
                <form>
                    <div class="form-group">
                        <label>Cep</label>
                        <input type="text" class="form-control" ng-model="endereco.cep"> 
                    </div>
                    <div class="form-group">
                        <label>Número</label>
                        <input type="text" class="form-control" ng-model="endereco.numero">
                    </div>
                    <div class="form-group">
                        <label>Logradouro</label>
                        <input type="text" class="form-control" ng-model="endereco.logradouro">
                    </div>
                    <div class="form-group">
                        <label>Complemento</label>
                        <input type="text" class="form-control" ng-model="endereco.complemento">
                    </div> 
                    <div class="form-group">
                        <label>Bairro</label>
                        <input type="text" class="form-control" ng-model="endereco.bairro">
                    </div>
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-control" ng-model="endereco.cidade">
                    </div>
                    <div class="form-group">
                        <label>Uf</label>
                        <input type="text" class="form-control" ng-model="endereco.uf">
                    </div>
                    <div class="form-group">
                        <label>País</label>
                        <input type="text" class="form-control" ng-model="endereco.pais">
                    </div>
                    <div class="form-group">
                        <label>Latitude</label>
                        <input type="text" class="form-control"ng-model="endereco.latitude">
                    </div>
                    <div class="form-group">
                        <label>Longitude</label>
                        <input type="text" class="form-control" ng-model="endereco.longitude">
                    </div>
                </form>                        
                <button class="btn btn-success" ng-if="!podeAlterar" ng-click="cadastrar()" style="margin-bottom: 50px;">Cadastrar</button>
                <button class="btn btn-info" ng-if="podeAlterar" ng-click="alterar()" style="margin-bottom: 50px;">Alterar</button>
             </div>      
        </div>
        <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">ID</th>
                                <th style="text-align: center;">Cep</th>
                                <th>Logradouro/Número</th>
                                <th>Complemento</th>
                                <th>Bairro</th>
                                <th>Cidade</th>
                                <th>Uf</th>
                                <th>Pais</th>
                                <th>Lat/Lon</th>
                                <th style="text-align: center;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="enderecoAux in enderecos">
                                <td style="text-align: center;">{{enderecoAux.id}}</td>
                                <td>{{enderecoAux.cep}}</td> 
                                <td>{{enderecoAux.logradouro + ' - ' + enderecoAux.numero}}</td>
                                <td>{{enderecoAux.complemento}}</td>
                                <td>{{enderecoAux.bairro}}</td>
                                <td>{{enderecoAux.cidade}}</td> 
                                <td>{{enderecoAux.uf}}</td> 
                                <td>{{enderecoAux.pais}}</td> 
                                <td>{{enderecoAux.latitude + " / " + enderecoAux.longitude}}</td>                           
                                <td style="text-align: center;">
                                    <span ng-click="excluir(enderecoAux)"><i class="fa fa-trash"></i></span>
                                    <span ng-click="paraAlterar(enderecoAux)"style="margin-left: 5px;"><i class="fa fa-pencil-square-o"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/ng-app.js"></script>
    <script src="scripts/services/http-service.js"></script>
    <script src="scripts/cadastros/ng-cadastro-endereco.js"></script>     
</body>
</html>