<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Adm-Empresa</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://guiapro.herokuapp.com/css/fa-icons/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://guiapro.herokuapp.com/css/basico.css">
    <link rel="stylesheet" type="text/css" href="https://guiapro.herokuapp.com/css/dashboard.css">
</head>

<body ng-app="GuiaApp" ng-controller="CadastroEmpresaCtrl"> 

    <script>
        var id_empresa = "{{ id }}";
        console.log(id_empresa);
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: #DA482B;" ng-include="'https://guiapro.herokuapp.com/page/includes/nav-bar-adm.html'"></nav>
    <div ng-include="'https://guiapro.herokuapp.com/page/includes/alerta.html'" class="snack-container-basico"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidebar" style="background:#292929;" ng-include="'https://guiapro.herokuapp.com/page/includes/side-bar-adm.html'"></div>     
            <div class="col-sm-10 col-sm-offset-2 main">                 
                <h1 style="text-align: center;">{{titulotela}}</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="text-align: left">Dados da Empresa</h3>
                            <hr>
                            <form>
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" class="form-control" ng-model="empresa.nome">
                                </div> 
                                <div class="form-group">
                                    <label>Cnpj</label>
                                    <input type="text" class="form-control" ng-model="empresa.cnpj" ui-mask="99.999.999/9999-99">
                                </div>
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input type="text" class="form-control" ng-model="empresa.email">
                                </div>
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input type="text" class="form-control" ng-model="empresa.telefone">
                                </div>                                       
                            </form>
                            <h3 style="text-align: left; margin-top: 50px;">Endereço</h3>
                            <hr>
                            <form>
                                <div class="row">
                                    <div class="form-group col-sm-2">
                                        <label>Cep</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.cep" ui-mask="99.999-999"> 
                                    </div>
                                    <div class="form-group col-sm-2">                                        
                                        <button class="btn btn-laranja" style="margin-top: 26px;" ng-click="buscarEndereco()">Busca endereço</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Logradouro</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.logradouro">
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Número</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.numero">
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Complemento</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.complemento">
                                    </div> 
                                    <div class="form-group col-sm-4">
                                        <label>Bairro</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.bairro">
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Cidade</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.cidade">
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Uf</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.uf">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>País</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.pais">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Latitude</label>
                                        <input type="text" class="form-control"ng-model="empresa.endereco.latitude">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Longitude</label>
                                        <input type="text" class="form-control" ng-model="empresa.endereco.longitude">
                                    </div>
                                </div>                                
                            </form>          
                            <button class="btn btn-laranja" ng-if="!podeAlterar" ng-click="cadastrar()" style="margin-bottom: 50px;">Cadastrar</button>
                            <button class="btn btn-laranja" ng-if="podeAlterar" ng-click="alterar()" style="margin-bottom: 50px;">Alterar</button>
                        </div>      
                    </div>
                </div>                                                    
            </div>
        </div>    
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://guiapro.herokuapp.com/scripts/ng-mask.js"></script>
    <script src="https://guiapro.herokuapp.com/scripts/ng-app.js"></script>
    <script src="https://guiapro.herokuapp.com/scripts/utilitarios.js"></script>
    <script src="https://guiapro.herokuapp.com/scripts/services/http-service.js"></script>
    <script src="https://guiapro.herokuapp.com/scripts/includes/ng-includes-ctrl.js"></script>
    <script src="https://guiapro.herokuapp.com/scripts/includes/ng-nav-bar-adm-ctrl.js"></script>
    <script src="https://guiapro.herokuapp.com/scripts/cadastros/ng-cadastro-empresa.js"></script>

</body>
</html> 
        
