<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Adm-Usuário</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fa-icons/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/basico.css"></head>

<body ng-app="GuiaApp" ng-controller="CadastroUsuarioCtrl" style="height: 100%;">   

    <div ng-include="'page/includes/nav-bar-adm.html'"></div>
    <div ng-include="'page/includes/alerta.html'" class="snack-container-basico"></div>

    <div class="container-fluid" style="height: 92.1%;">
        <div class="row" style="height: 100%;">
            <div class="col-sm-2 sem-padding" style="background:#292929; height: 100%;">
                <div ng-include="'page/includes/side-bar-adm.html'" ></div>
            </div>    
            <div class="col-sm-10" style="height: 100%; overflow-y: scroll;"> 
                <div class="panel panel-default" style="margin-top: 10px; padding: 10px;">
                    <h1 style="text-align: center;">Cadastro de Usuário</h1>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 style="text-align: left">Dados Login</h3>
                                <hr>
                                <form>
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" ng-model="usuario.email">
                                    </div>
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input type="password" class="form-control" ng-model="usuario.senha">
                                    </div>                                         
                                </form>
                                <h3 style="text-align: left; margin-top: 50px;">Tipo Usuário</h3>
                                <hr>
                                <form> 
                                    <div class="form-group">
                                        <label>Tipos</label>
                                        <select class="form-control" ng-model="usuario.perfil.tipoperfil" ng-options="tipoperfil.descricao for tipoperfil in tiposperfil ">
                                        </select>
                                    </div>                                                           
                                </form>   
                                <h3 style="text-align: left; margin-top: 50px;">Perfil</h3>
                                <hr>
                                <form>
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.nome">
                                    </div>
                                    <div class="form-group">
                                        <label>Sobrenome</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.sobrenome">
                                    </div>
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.sexo">
                                    </div>
                                    <div class="form-group">
                                        <label>CPF</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.cpf">
                                    </div>        
                                    <div class="form-group">
                                        <label>Celular</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.celular">
                                    </div>                                         
                                </form>   
                                <h3 style="text-align: left; margin-top: 50px;">Endereço</h3>
                                <hr>
                                <form>
                                    <div class="form-group">
                                        <label>Cep</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.cep"> 
                                    </div>
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.numero">
                                    </div>
                                    <div class="form-group">
                                        <label>Logradouro</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.logradouro">
                                    </div>
                                    <div class="form-group">
                                        <label>Complemento</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.complemento">
                                    </div> 
                                    <div class="form-group">
                                        <label>Bairro</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.bairro">
                                    </div>
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.cidade">
                                    </div>
                                    <div class="form-group">
                                        <label>Uf</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.uf">
                                    </div>
                                    <div class="form-group">
                                        <label>País</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.pais">
                                    </div>
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        <input type="text" class="form-control"ng-model="usuario.perfil.endereco.latitude">
                                    </div>
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input type="text" class="form-control" ng-model="usuario.perfil.endereco.longitude">
                                    </div>
                                </form>                                                
                                <h3 style="text-align: left; margin-top: 50px;">Permissões</h3>
                                <hr>
                                <form> 
                                    <div class="form-group">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;width: 5%;">Ações</th>
                                                    <th style="width: 80%;">Descrição</th>
                                                    <th style="text-align: center;">Sigla</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="permissaoAux in permissoes" ng-click="selecionaPermissao(permissaoAux)">
                                                    <td style="text-align: center;"><input type="checkbox" disabled ng-model="permissaoAux.selecionado"></td>
                                                    <td>{{permissaoAux.descricao}}</td>
                                                    <td style="text-align: center;">{{permissaoAux.sigla}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                                           
                                </form>   
                                <h3 style="text-align: left; margin-top: 50px;" ng-if="usuario.perfil.tipoperfil.descricao == 'Profissional'">Categorias</h3>
                                <hr ng-if="usuario.perfil.tipoperfil.descricao == 'Profissional'">
                                <form ng-if="usuario.perfil.tipoperfil.descricao == 'Profissional'"> 
                                    <div class="form-group">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">Ações</th>
                                                    <th style="width: 90%;">Descrição</th>                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="categoriaAux in categorias" ng-click="selecionaCategoria(categoriaAux)">
                                                    <td style="text-align: center;"><input type="checkbox" disabled ng-model="categoriaAux.selecionado"></td>
                                                    <td>{{categoriaAux.descricao}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                                           
                                </form>
                                <h3 style="text-align: left; margin-top: 50px;" ng-if="usuario.perfil.tipoperfil.descricao == 'Profissional'">Empresas</h3>
                                <hr ng-if="usuario.perfil.tipoperfil.descricao == 'Profissional'">
                                <form ng-if="usuario.perfil.tipoperfil.descricao == 'Profissional'"> 
                                    <div class="form-group">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">Ações</th>
                                                    <th style="width: 70%;">Nome</th>
                                                    <th style="text-align: center">CNPJ</th>                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="empresaAux in empresas" ng-click="selecionaEmpresa(empresaAux)">
                                                    <td style="text-align: center;"><input type="checkbox" disabled ng-model="empresaAux.selecionado"></td>
                                                    <td>{{empresaAux.descricao}}</td>
                                                    <td>{{empresaAux.descricao}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                                           
                                </form>
                                <button class="btn btn-laranja" ng-if="!podeAlterar" ng-click="cadastrar()" style="margin-bottom: 50px;">Cadastrar</button>
                                <button class="btn btn-laranja" ng-if="podeAlterar" ng-click="alterar()" style="margin-bottom: 50px;">Alterar</button>
                            </div>      
                        </div>        
                    </div> 
                </div>                                      
            </div>
        </div>    
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/ng-app.js"></script>
    <script src="scripts/services/http-service.js"></script>
    <script src="scripts/includes/ng-includes-ctrl.js"></script>
    <script src="scripts/cadastros/ng-cadastro-usuario.js"></script>

</body>
</html>