<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Adm-Situação</title> <!-- Colocar o Titulo-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fa-icons/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/basico.css"></head>

<body ng-app="GuiaApp" ng-controller="CadastroSituacaoCtrl" style="height: 100%;">   

    <div ng-include="'page/includes/nav-bar-adm.html'"></div>
    <div ng-include="'page/includes/alerta.html'" class="snack-container-basico"></div>

    <div class="container-fluid" style="height: 92.1%;">
        <div class="row" style="height: 100%;">
            <div class="col-sm-2 sem-padding" style="background:#292929; height: 100%;">
                <div ng-include="'page/includes/side-bar-adm.html'" ></div>
            </div>    
            <div class="col-sm-10" style="height: 100%; overflow-y: scroll;">
                <div class="panel panel-default" style="margin-top: 10px; padding: 10px;">
                    <h1 style="text-align: center;">Cadastro de Situação</h1>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 style="text-align: left">Dados da Situação</h3>
                                <hr>
                                <form>
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input type="text" ng-model="situacao.descricao" class="form-control">
                                    </div>                                        
                                </form>                        
                                <button class="btn btn-laranja" ng-if="!podeAlterar" ng-click="cadastrar()" style="margin-bottom: 50px;">Cadastrar</button>
                                <button class="btn btn-laranja" ng-if="podeAlterar" ng-click="alterar()" style="margin-bottom: 50px;">Alterar</button>
                            </div>      
                        </div>
                    </div>                      
                </div>                       
            </div>
        </div>    
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/ng-app.js"></script>
    <script src="scripts/utilitarios.js"></script>
    <script src="scripts/services/http-service.js"></script>
    <script src="scripts/includes/ng-includes-ctrl.js"></script>
    <script src="scripts/cadastros/ng-cadastro-situacao.js"></script>
</body>
</html>