<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Adm-Situação</title> <!-- Colocar o Titulo-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fa-icons/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/basico.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
</head>
<body ng-app="GuiaApp" ng-controller="CadastroSituacaoCtrl">   

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: #DA482B;" ng-include="'page/includes/nav-bar-adm.html'"></nav>
    <div ng-include="'page/includes/alerta.html'" class="snack-container-basico"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidebar" style="background:#292929;" ng-include="'page/includes/side-bar-adm.html'"></div>     
            <div class="col-sm-10 col-sm-offset-2 main">                
                <h1 style="text-align: center;">Cadastro de Situação</h1>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="text-align: left">Dados da Situação</h3>
                            <hr>
                            <form>
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <input type="text" ng-model="situacao.descricao" class="form-control">
                                </div>                                        
                            </form>                        
                            <button class="btn btn-laranja" ng-if="!podeAlterar" ng-click="cadastrar()" style="margin-bottom: 50px;">Cadastrar</button>
                            <button class="btn btn-laranja" ng-if="podeAlterar" ng-click="alterar()" style="margin-bottom: 50px;">Alterar</button>
                        </div>      
                    </div>
                </div>                
            </div>
        </div>    
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts/ng-mask.js"></script>
    <script src="scripts/ng-app.js"></script>
    <script src="scripts/utilitarios.js"></script>
    <script src="scripts/services/http-service.js"></script>
    <script src="scripts/includes/ng-includes-ctrl.js"></script>
    <script src="scripts/cadastros/ng-cadastro-situacao.js"></script>
</body>
</html>